.chat {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #222222;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 5fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    'users messages'
    'users input';
}

.grid-without-users {
  grid-template-columns: auto;
  grid-template-areas:
    'messages'
    'input';
}

.grid > div {
  margin: 0.8em 0.3em 0.8em 0.3em;
  font-size: 14px;
  outline: 1px solid #5a7c0b;
  position: relative;
  padding: 0.7em 1.2em;
}

.grid > div .head {
  color: #5a7c0b;
  position: absolute;
  left: 1em;
  top: -0.8em;
  padding: 0.2em;
  background-color: #222222;
}

.users-list {
  grid-area: users;
}

.messages {
  height: 74vh;
  grid-area: messages;
}

.input {
  grid-area: input;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222222;
}

.help-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #222222;
  z-index: 2;
}

.help ul {
  color: chocolate;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'users'
      'messages'
      'input';
  }
}
