html[data-theme='default'] {
  /* global */
  --primaryBg: #000;
  --primaryColor: #fff;
  --linksColor: rgb(189, 95, 27);

  /* Fake loader */
  --spinnerColor: dodgerblue;
  --okIndicator: #0f0;
  --waitIndicator: coral;

  /* Command line */
  --userInfo: #0f0;
  --pathInfo: royalblue;
  --inputBackground: #000;

  /* Feedback component */
  --feedbackBackground: #000;
  --feedbackBorder: #fff;
  --feedbackColor: #fff;

  --feedbackIconColor: #fff;
  --feedbackIconHover: #0f0;

  --feedbackButtonBackground: #000;
  --feedbackButtonBorder: #fff;
  --feedbackButtonColor: #fff;
  --feedbackButtonBackgroundHover: #fff;
  --feedbackButtonBorderHover: #fff;
  --feedbackButtonColorHover: #000;

  /* professional skills output */
  --profSkillsComplete: green;
  --profSkillsWait: chocolate;
}
