html[data-theme='light'] {
  /* global */
  --primaryBg: #fff;
  --primaryColor: #000;
  --linksColor: rgb(189, 95, 27);

  /* Fake loader */
  --spinnerColor: dodgerblue;
  --okIndicator: #0f0;
  --waitIndicator: coral;

  /* Command line */
  --userInfo: #0f0;
  --pathInfo: royalblue;
  --inputBackground: #000;

  /* Feedback component */
  --feedbackBackground: #fff;
  --feedbackBorder: #000;
  --feedbackColor: #000;

  --feedbackIconColor: #000;
  --feedbackIconHover: #0f0;

  --feedbackButtonBackground: #fff;
  --feedbackButtonBorder: #000;
  --feedbackButtonColor: #000;
  --feedbackButtonBackgroundHover: #000;
  --feedbackButtonBorderHover: #000;
  --feedbackButtonColorHover: #fff;

  /* professional skills output */
  --profSkillsComplete: green;
  --profSkillsWait: chocolate;
}
