.command-line {
  display: flex;
  height: 16px;
}

.command-line input {
  width: 410px;
  background-color: #000;
  outline: none;
  border: none;
  color: #fff;
}

.projects,
.contacts {
  display: flex;
  flex-direction: column;
}

.projects a {
  margin: 5px 0;
}

.projects a,
.contacts a {
  color: rgb(189, 95, 27);
}

.projects a:hover,
.contacts a:hover {
  opacity: 0.8;
}

.ls {
  display: flex;
}

.ls > div {
  margin-right: 10px;
}

.skills ul {
  list-style: none;
}

.complete-status {
  color: green;
}

.wait-status {
  color: chocolate;
}
