.command-line {
  display: flex;
  height: 16px;
}

.command-line input {
  width: 410px;
  background-color: var(--primaryBg);
  outline: none;
  border: none;
  color: var(--primaryColor);
}

.help ul {
  list-style: none;
}

.help ul.title {
  font-weight: bold;
}

.help .themes-list {
  padding-left: 25px;
}

.projects,
.contacts {
  display: flex;
  flex-direction: column;
}

.projects a {
  margin: 5px 0;
}

.projects a,
.contacts a {
  color: var(--linksColor);
}

.projects a:hover,
.contacts a:hover {
  opacity: 0.8;
}

.ls {
  display: flex;
}

.ls > div {
  margin-right: 10px;
}

.skills ul {
  list-style: none;
}

.complete-status {
  color: var(--profSkillsComplete);
}

.wait-status {
  color: var(--profSkillsWait);
}

.experience {
  margin: 10px 0;
}

.experience a {
  color: var(--linksColor);
}

.experience .company-title {
  margin-bottom: 5px;
}
