.messages-list {
  list-style: none;
  display: grid;
  padding: 0;
  max-height: 96%;
  overflow: scroll;
  scrollbar-width: none;
}

.messages-list::-webkit-scrollbar {
  display: none;
}

.message-item {
  padding: 5px 0 5px 0;
}

.user-name {
  color: chocolate;
  font-weight: bolder;
  margin-right: 10px;
}

.time {
  color: chartreuse;
  margin-right: 5px;
}
