.feedback {
  width: 90%;
  height: 98vh;
  display: flex;
  padding: 5px 5px 0 5px;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  background-color: var(--feedbackButtonBackground);
}

.feedback button {
  width: 200px;
  height: 30px;
  font-size: 14px;
  color: var(--feedbackButtonColor);
  outline: none;
  background-color: var(--buttonBackground);
  border: 1px solid var(--feedbackButtonBorder);
}

.feedback button:hover {
  background-color: var(--feedbackButtonBackgroundHover);
  border: 1px solid var(--feedbackButtonBorderHover);
  cursor: pointer;
  color: var(--feedbackButtonColorHover);
}

.buttons {
  z-index: 3;
  border-top: 1px solid var(--feedbackBorder);
  padding: 5px;
}

.buttons > button {
  margin-left: 5px;
}
