.feedback {
  width: 90%;
  height: 98vh;
  display: flex;
  padding: 5px 5px 0 5px;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  background-color: #000;
}

.feedback button {
  width: 200px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  outline: none;
  border: none;
  background-color: #000;
  border: 1px solid #fff;
}

.feedback button:hover {
  background-color: #fff;
  cursor: pointer;
  color: #000;
}

.buttons {
  z-index: 3;
  border-top: 1px solid #fff;
  padding: 5px;
}

.buttons > button {
  margin-left: 5px;
}
