.packages-list ul {
  margin: 0;
  padding: 0;
}

.packages-list ul li.starting {
  margin-top: 10px;
}

.ok-indicator {
  color: var(--okIndicator);
}

.wait-indicator {
  color: var(--waitIndicator);
}

.spinner {
  color: var(--spinnerColor);
  font-weight: bolder;
  font-size: 18px;
}
